{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  {{! As you add new fields, add them in here! }}
  <div class='resource'>
    <label class='resource-label'>{{localize 'BOILERPLATE.Item.Spell.FIELDS.level.label'}}</label>
    <input
      type='text'
      name='system.spellLevel'
      value='{{system.spellLevel}}'
      data-dtype='Number'
    />
  </div>
</section>